<?xml version="1.0" encoding="utf-8" ?>
<!-- 
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
    <appSettings>

    </appSettings>

  <connectionStrings>
    <add name="ApplicationServices" connectionString="Data Source=127.0.0.1;Initial Catalog=Jupiter;Persist Security Info=True;User ID=jupiter;Password=tkfkdgo" providerName="System.Data.SqlClient" />
    <add name="JupiterEntities" connectionString="metadata=res://*/DBModels.Jupiter.csdl|res://*/DBModels.Jupiter.ssdl|res://*/DBModels.Jupiter.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=127.0.0.1;initial catalog=Jupiter;user id=jupiter;password=tkfkdgo;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>
