@{
    ViewBag.Title = "Change Password";
}
<p>
    암호가 변경되었습니다.
</p>
<script type="text/javascript">
    $(function () {
        alert("암호가 변경되었습니다.");
        location.href = "/";
    });
</script>
